.tabs {
  .tabs__input {
    appearance: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .tabs__input:checked + .tabs__tab {
    background-color: var(--tabs-tab-bg-active);
    color: var(--tabs-tab-color-active);
    box-shadow: var(--shadow-primary);
  }

  .tabs__input:focus-visible + .tabs__tab {
    outline: var(--field-border);
    outline-offset: -2px;
  }

  .tabs__input:disabled + .tabs__tab {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .nav-pills {
    border: var(--border);
    border-radius: var(--border-radius-primary);
    padding: 4px;
    background: var(--color-light-main);
  }

  .nav-link {
    position: relative;
  }
}
