@use '../../styles/ds/tokens' as component;

.tabs {
  .tabs__input {
    appearance: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .tabs__input:checked + .tabs__tab {
    background-color: component.$tabs-tab-bg-selected;
    color: component.$tabs-tab-fg-selected;
    box-shadow: component.$tabs-tab-shadow-selected;
  }

  .tabs__input:focus-visible + .tabs__tab {
    outline: component.$field-border;
    outline-offset: -2px;
  }

  .tabs__input:disabled + .tabs__tab {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .nav-pills {
    border: component.$tabs-border-color;
    border-radius: component.$tabs-radius;
    padding: 4px;
    background: component.$tabs-bg;
  }

  .nav-link {
    position: relative;
  }
}
