@use '../../styles/utils';

.button {
  align-items: center;
  background-color: var(--action-primary-bg);
  border: var(--border-width) solid var(--action-primary-border);
  border-bottom-width: 4px;
  border-radius: var(--border-radius-primary);
  border-right-width: 4px;
  box-shadow: var(--box-shadow);
  color: var(--action-primary-color);
  display: inline-flex;
  font-family: var(--font-family-body);
  font-size: 16px;
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  letter-spacing: 0.5px;
  min-height: 44px;
  padding: 4px 16px;
  text-align: center;
  text-transform: uppercase;

  svg {
    font-size: 1.15em;
    margin-left: -4px;
  }

  @include utils.hover {
    background-color: var(--color-primary-darker);
    border-color: var(--color-primary-darker);
  }

  &--secondary {
    background-color: var(--action-secondary-bg);
    border-color: var(--action-secondary-border);
    color: var(--action-secondary-color);

    &:active {
      background-color: var(--color-dark-darker);
      border-color: var(--color-dark-darker);
    }
  }

  &--full {
    width: 100%;
  }
}
