@use '../../styles/utils';

.button {
  --button-font-weight: bold;
  --button-text-transform: uppercase;
  --button-letter-spacing: 0.03125rem;
  --button-padding: var(--button-padding-y) var(--button-padding-x);

  --button__icon-font-size: 1.2em;
  --button__icon-margin-left: -0.15rem;

  --button__small-font-size: 0.75em;
  --button__small-text-transform: lowercase;

  --size-difference: calc(
    (((44px - (var(--button-size))) / 2) + var(--border-width)) * -1
  );

  align-items: center;
  background-color: var(--action-primary-bg);
  border: var(--button-border-width) solid var(--action-primary-border);
  border-radius: var(--border-radius-primary);
  box-shadow: var(--box-shadow);
  color: var(--action-primary-color);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-body);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  gap: calc(var(--button-padding-y) * 2);
  justify-content: center;
  letter-spacing: var(--button-letter-spacing);
  min-height: var(--button-size);
  padding: var(--button-padding);
  position: relative;
  text-align: center;
  text-transform: var(--button-text-transform);

  ion-icon,
  .svg-icon,
  svg {
    --icon-size: var(--button__icon-font-size);

    font-size: var(--button__icon-font-size);
    margin-left: var(--button__icon-margin-left);
  }

  small {
    font-size: var(--button__small-font-size);
    text-transform: var(--button__small-text-transform);
    width: 100%;
  }

  &:has(small) {
    line-height: 1;

    .button__content {
      display: inline-block;
    }
  }

  &__content {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
  }

  &::before {
    content: '';
    position: absolute;
    top: var(--size-difference);
    left: var(--size-difference);
    right: var(--size-difference);
    bottom: var(--size-difference);
  }

  @include utils.hover {
    background-color: var(--action-primary-bg-active);
    border-color: var(--action-primary-border-active);
    color: var(--action-primary-color-active);
  }

  &--secondary {
    background-color: var(--action-secondary-bg);
    border-color: var(--action-secondary-border);
    color: var(--action-secondary-color);

    @include utils.hover {
      background-color: var(--action-secondary-bg-active);
      border-color: var(--action-secondary-border-active);
      color: var(--action-secondary-color-active);
    }
  }

  &--full {
    width: 100%;
  }

  &--tertiary {
    padding: var(--button-padding-y);

    background-color: transparent;
    border-color: transparent;
    color: var(--color-text);
    box-shadow: none;
    text-decoration: underline;

    @include utils.hover {
      background-color: color-mix(in srgb, currentColor 10%, transparent);
      border-color: transparent;
      color: var(--color-text);
    }
  }
}
