@use '../../styles/utils';

.button {
  --size-difference: calc(
    (((44px - (var(--button-size))) / 2) + var(--border-width)) * -1
  );

  align-items: center;
  background-color: var(--action-primary-bg);
  border: var(--border-width) solid var(--action-primary-border);
  border-radius: var(--border-radius-primary);
  box-shadow: var(--box-shadow);
  color: var(--action-primary-color);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-body);
  font-size: var(--button-font-size);
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  letter-spacing: 0.5px;
  min-height: var(--button-size);
  padding: 4px 16px;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  ion-icon,
  .svg-icon,
  svg {
    font-size: 1.3em;
    margin-left: -4px;
  }

  &__content {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
  }

  &::before {
    content: '';
    position: absolute;
    top: var(--size-difference);
    left: var(--size-difference);
    right: var(--size-difference);
    bottom: var(--size-difference);
  }

  @include utils.hover {
    background-color: var(--action-primary-bg-active);
    border-color: var(--action-primary-border-active);
    color: var(--action-primary-color-active);
  }

  &--secondary {
    background-color: var(--action-secondary-bg);
    border-color: var(--action-secondary-border);
    color: var(--action-secondary-color);

    @include utils.hover {
      background-color: var(--action-secondary-bg-active);
      border-color: var(--action-secondary-border-active);
      color: var(--action-secondary-color-active);
    }
  }

  &--tertiary {
    background-color: transparent;
    border-color: transparent;
    color: var(--action-secondary-color);
    box-shadow: none;
    text-decoration: underline;

    @include utils.hover {
      background-color: var(--action-secondary-bg-active);
      border-color: transparent;
      color: var(--action-secondary-color-active);
    }
  }

  &--full {
    width: 100%;
  }

  &--small {
    --button-font-size: var(--action-small-font-size);
    --button-size: var(--action-small-size);
  }
}
