@use '../../styles/utils';

.button {
  align-items: center;
  background-color: var(--action-primary-bg);
  border: var(--border-width) solid var(--action-primary-border);
  border-bottom-width: 4px;
  border-radius: var(--border-radius-primary);
  border-right-width: 4px;
  box-shadow: var(--box-shadow);
  color: var(--action-primary-color);
  display: inline-flex;
  font-family: var(--font-family-body);
  font-size: var(--action-font-size);
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  letter-spacing: 0.5px;
  min-height: var(--action-size);
  padding: 4px 16px;
  text-align: center;
  text-transform: uppercase;

  ion-icon,
  .svg-icon,
  svg {
    font-size: 1.3em;
    margin-left: -4px;
  }

  &__content {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
  }

  @include utils.hover {
    background-color: var(--action-primary-bg-active);
    border-color: var(--action-primary-border-active);
    color: var(--action-primary-color-active);
    box-shadow: none;
    padding-top: 2px;
    padding-left: 14px;
    border-top-width: calc(var(--border-width) + 2px);
    border-left-width: calc(var(--border-width) + 2px);
  }

  &--secondary {
    background-color: var(--action-secondary-bg);
    border-color: var(--action-secondary-border);
    color: var(--action-secondary-color);

    @include utils.hover {
      background-color: var(--action-secondary-bg-active);
      border-color: var(--action-secondary-border-active);
      color: var(--action-secondary-color-active);
    }
  }

  &--full {
    width: 100%;
  }
}
