@use '../utils.scss';

.mobile-only {
  @include utils.isDesktop {
    display: none;
  }
}

.desktop-only {
  @include utils.isMobile {
    display: none;
  }
}

.portrait-only {
  @media (orientation: landscape) {
    display: none;
  }
}

.landscape-only {
  @media (orientation: portrait) {
    display: none;
  }
}
