.horizontal-scroll {
  display: flex;
  align-items: stretch;

  @media (orientation: portrait) {
    &:has(> *:not(:only-child)) {
      width: calc(100% + 14px);
      overflow-x: scroll;
      padding: 8px;
      padding-left: 6px;
      margin: -6px;

      > * {
        width: calc(92% - var(--gap));
        flex-shrink: 0;
      }
    }
  }

  @media (orientation: landscape) {
    flex-wrap: wrap;
  }
}
