@use '../../styles/component' as component;

@use '../../styles/helpers/media.scss' as *;
@use '../../styles/utils.scss' as *;

.notebook-tabs {
  font: component.$notebook-tabs-font;
  letter-spacing: component.$notebook-tabs-tracking;
  line-height: 1;
  text-orientation: upright;
  text-transform: uppercase;
  z-index: 1;

  ul {
    display: grid;
    gap: component.$notebook-tabs-gap;
    list-style: none;
  }

  &__link,
  ul a {
    background-color: component.$notebook-tabs-bg;
    border: component.$notebook-tabs-border-width solid
      component.$notebook-tabs-border-color;
    border-left-width: 0;
    border-bottom-right-radius: component.$notebook-tabs-radius;
    border-top-right-radius: component.$notebook-tabs-radius;
    color: component.$notebook-tabs-fg;
    display: block;
    padding: 8px 5px 12px 3px;
    transition:
      background-color var(--app-duration-fast) var(--app-ease),
      border-color var(--app-duration-fast) var(--app-ease),
      color var(--app-duration-fast) var(--app-ease);
    writing-mode: vertical-lr;

    &.ovo-active {
      background-color: component.$notebook-tabs-bg-active;
      border-color: component.$notebook-tabs-border-color-active;
      color: component.$notebook-tabs-fg-active;
    }
  }
}

@media (hover: hover) {
  .notebook-tabs__link:not(.ovo-active):hover {
    background-color: component.$notebook-tabs-bg-hover;
    color: component.$notebook-tabs-fg-hover;
  }
}
