.notebook-tabs {
  left: 0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-size: 0.75rem;
  text-orientation: upright;
  z-index: 1;

  // letter-spacing: -5px;
  line-height: 1;

  ul {
    list-style: none;
    display: grid;
    gap: 8px;
  }

  a {
    writing-mode: vertical-lr;
    background-color: white;
    border-bottom-right-radius: var(--border-radius-primary);
    border-top-right-radius: var(--border-radius-primary);
    box-shadow: var(--shadow-primary);
    padding: 8px 5px 12px 3px;

    &.ovo-active {
      background-color: var(--color-primary-darker);
      color: white;
      font-weight: bold;
    }
  }
}
