@use '../../styles/component' as component;

@use '../../styles/utils.scss';

.choice {
  display: grid;
  grid-template-areas: 'choice__img' 'choice__title' 'choice__desc';
  border: component.$field-border;
  border-radius: component.$choice-radius;
  width: 160px;
  background: transparent;
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  gap: component.$choice-gap;
  cursor: pointer;

  &__img {
    grid-area: choice__img;
    font-size: 3.5rem;
    color: component.$choice-img-fg;
    line-height: 1;
  }

  &__title {
    grid-area: choice__title;
    border: component.$choice-title-border-width solid component.$choice-title-fg;
    padding: 8px;
    border-radius: component.$choice-title-radius;
    text-decoration: none;
    background-color: component.$choice-title-bg;
  }

  &__desc {
    grid-area: choice__desc;
  }

  @include utils.hover {
    border-color: component.$choice-border-color-hover;

    .choice__img {
      color: component.$choice-img-fg-hover;
    }

    .choice__title {
      background-color: component.$choice-title-bg-hover;
    }
  }
}
