.chip {
  align-items: center;
  border-radius: var(--border-radius-primary);
  border: var(--chip-border);
  mix-blend-mode: var(--chip-mix-blend-mode);
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  min-height: var(--button-size);
  padding: 4px 12px;
  position: relative;
  text-align: center;

  input {
    position: absolute;
    appearance: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:has(input:checked) {
    background-color: var(--chip-bg-active);
    color: var(--chip-color-active);
  }
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &.-full > * {
    flex-grow: 1;
  }
}
