@use '../utils/theme' as *;

.card {
  container-type: inline-size;

  &__content {
    border-radius: var(--border-radius-secondary);
    display: grid;
    overflow: hidden;
  }

  &__img {
    grid-area: card__img;
    display: flex;
    flex-direction: column;

    img {
      background-color: var(--color-white);
    }
  }

  &__header {
    grid-area: card__header;
  }

  &__footer {
    grid-area: card__footer;
  }
}

.card:not(.slim-card) {
  .card__content {
    @include theme-base;

    box-shadow: var(--card-shadow);
    border: var(--card-border);
    border-radius: var(--card-border-radius);

    grid-template-areas:
      'card__header card__header'
      'card__img card__body'
      'card__footer card__footer';
    grid-template-columns: 7fr 10fr;
    grid-template-columns: min(200px, calc(100% * 7 / 21)) 1fr;
    grid-template-rows: 1fr auto auto;
  }

  .card__img {
    padding: 14px 0 14px var(--padding-x);
    gap: calc(var(--padding-y) / 2);

    img {
      // box-shadow: var(--shadow-primary);
    }
  }

  .card__img-description {
    font-size: 0.9375em;
    font-weight: bold;
    text-align: center;
  }

  .card__header {
    background-color: var(--card-header-bg);
    color: var(--card-header-color);
    font-weight: bold;
  }

  .card__title {
    padding: var(--padding-y) var(--padding-x);
    grid-column: 2;
    font-family: var(--font-family-title);
    font-size: 1rem;
  }

  .card__body {
    grid-area: card__body;
    padding: var(--padding-y) var(--padding-x);
    align-self: center;
    color: var(--card-color);
  }

  .card__footer {
    @include theme-base;

    border-top: var(--card-border);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: var(--padding-y) var(--padding-x);
    justify-content: flex-end;
  }

  @container (min-width: 280px) {
    .card__header {
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
      display: grid;
    }

    .card__img {
      margin-top: -30px;
    }
  }
}

.slim-card {
  padding: 8px;
  border: 1px solid var(--color-dark-main);
  grid-template-areas:
    'card__img'
    'card__header'
    'card__body'
    'card_footer';
  grid-template-rows: auto auto 1fr auto;

  .card__title {
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
    text-decoration: underline;
  }
}
