@use '../component' as component;

.category {
  font-weight: bold;
  text-align: center;
  font-size: component.$category-font-size;
  display: grid;
  gap: 4px;
  word-break: break-word;
  width: component.$category-width;

  img {
    border-radius: 50%;
  }
}
