.category {
  font-weight: bold;
  text-align: center;
  font-size: var(--category-font-size);
  display: grid;
  gap: 4px;
  word-break: break-word;
  width: var(--category-width);

  img {
    border-radius: 50%;
  }
}
