@use '../utils.scss';

.dialog {
  background-color: transparent;
  display: none;
  border: none;
  width: calc(100vw - 8px);
  height: calc(100vh - 8px);
  padding: 0;
  max-width: 100%; // reset
  max-height: 100%; // reset
  align-items: flex-end;

  .modal {
    max-height: 80vh;
  }
}

.dialog[open] {
  display: grid;
}

body:has(.dialog[open]) {
  overflow: hidden;
}

@keyframes dialog-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
  animation: backdrop-in 180ms ease-out forwards;
}

@keyframes backdrop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialog.-no-padding .modal__body {
  padding: 0;
}

.dialog.-dense {
  max-height: 92vh;
}

@include utils.isDesktop {
  .dialog {
    align-items: center;
    justify-content: center;
  }
}
