@use '../utils.scss';

.dialog {
  background-color: transparent;
  display: none;
  border: none;
  padding: 0;
  max-width: 100%; // reset
  max-height: 100%; // reset
  align-items: flex-end;

  .modal {
    width: 100%;
  }

  @media (orientation: portrait) {
    width: calc(100vw - 8px);
    height: calc(100vh - 8px);

    .modal {
      max-height: 88vh;
    }
  }
}

@keyframes dialog-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
  animation: backdrop-in 180ms ease-out forwards;
}

@keyframes backdrop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialog.-no-padding .modal__body {
  padding: 0;
}

.dialog.-dense {
  max-height: 92vh;
}

@include utils.isMobile {
  body:has(.dialog[open]) {
    overflow: hidden;
  }

  .dialog[open] {
    display: grid;
  }
}

@include utils.isDesktop {
  .dialog {
    align-items: center;
    justify-content: center;
    height: calc(100vh - 48px);

    .modal {
      height: 100%;
    }
  }

  .dialog[open] {
    display: block;
  }
}
