.img {
  border-radius: 1px;
}

.img-primary {
  @extend .img;

  box-shadow: var(--shadow-primary);
  // clip-path: polygon(
  //   0% 0%,
  //   100% 0%,
  //   100% 100%,
  //   50% 100%,
  //   50.9% 99.9%,
  //   /* corte de 1 grau aproximado */ 0% 100%
  // );
  // transform: rotate(0.5deg);
}

ion-icon,
.svg-icon {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 24px;

  &.large {
    font-size: 32px;
  }
}
