@use '../utils.scss';

.modal {
  background: #fff;
  border-radius: var(--border-radius-primary);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  /* simple open animation */
  opacity: 0;
  transform: translateY(16px);
  animation: dialog-in 180ms ease-out forwards;

  &__body {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 8px;
    font-size: 1rem;
    box-shadow: var(--shadow-primary-inset);
  }

  &__footer {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: flex-end;
    min-height: var(--action-size);
    padding: 8px;
    flex-shrink: 0;
  }

  @include utils.isMobile {
    width: calc(100vw - 8px);
  }

  @include utils.isDesktop {
    box-shadow: var(--box-shadow);
    border: 2px solid var(--color-text);
  }
}
