@use '../component' as component;

.progressbar {
  appearance: none;
  width: 100%;
  height: 8px;
  overflow: hidden;
  border-radius: component.$progress-radius;
  background-color: component.$progress-track-bg;
  border: component.$progressbar-border-width solid
    component.$progressbar-border-color;

  &::-webkit-progress-bar {
    background-color: inherit;
    border-radius: inherit;
  }

  &::-webkit-progress-value {
    background-color: component.$progress-fill-bg;
    border-radius: inherit;
    transition: width var(--app-duration-base) var(--app-ease);
  }

  &::-moz-progress-bar {
    background-color: component.$progress-fill-bg;
    border-radius: inherit;
    transition: width var(--app-duration-base) var(--app-ease);
  }
}
