.horizontal-scroll {
  @media (orientation: portrait) {
    &:has(> *:not(:only-child)) {
      display: flex;
      gap: 16px;
      width: calc(100% + 16px);
      overflow-x: scroll;
      padding: 8px;
      margin: -8px;

      > * {
        width: calc(92% - 16px);
        flex-shrink: 0;
      }
    }
  }
}
