// notebook-layout/styles/molecules/_description-list.scss

.description-list {
  column-gap: var(--app-gutter);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  row-gap: var(--app-space-sm);

  &__term {
    color: var(--app-fg-muted);
    font: var(--app-text-label-sm);
  }

  &__details {
    color: var(--app-fg-default);
    font: var(--app-text-numeric);
    font-variant-numeric: lining-nums var(--app-numeric-tabular);
    margin: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }
}
