@use '../../styles/ds/tokens' as component;

.footer {
  background-color: component.$footer-bg;
  color: component.$footer-fg;
  bottom: 0;
  height: component.$footer-height;
  overflow: hidden;
  position: sticky;
  border-top-left-radius: component.$footer-radius;
  border-top-right-radius: component.$footer-radius;
  box-shadow: component.$footer-shadow;

  &__control {
    align-items: center;
    display: inline-flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    line-height: 1;
  }

  &__navigation {
    background-color: component.$footer-navigation-bg;
    color: component.$footer-navigation-fg;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 16px;
  }

  &--menu {
    padding: 16px;
    transition: background-color 300ms;
    height: initial;

    &::before {
      content: '';
      display: block;
      max-width: 28px;
      height: 4px;
      border-radius: 2px;
      background-color: component.$footer-strip-bg;
      margin: 8px auto 22px;
    }
  }

  &--open {
    background-color: component.$footer-bg-open;
  }
}
