// notebook-layout/styles/ds/src/_base.scss

@layer ds.base {
  :root {
    --accent-1: #fbfdff;
    --accent-2: #f5f9ff;
    --accent-3: #eaf1ff;
    --accent-4: #dde9ff;
    --accent-5: #cfdfff;
    --accent-6: #bcd0ff;
    --accent-7: #a3bdff;
    --accent-8: #83a2ff;
    --accent-9: #2a3b8f;
    --accent-10: #394da3;
    --accent-11: #4d67d7;
    --accent-12: #1b277a;
    --accent-a1: #0080ff04;
    --accent-a2: #0066ff0a;
    --accent-a3: #0055ff15;
    --accent-a4: #005aff22;
    --accent-a5: #0055ff30;
    --accent-a6: #004dff43;
    --accent-a7: #0049ff5c;
    --accent-a8: #0040ff7c;
    --accent-a9: #001479d5;
    --accent-a10: #001a89c6;
    --accent-a11: #0025c6b2;
    --accent-a12: #000d6ae4;
    --accent-contrast: #fff;
    --accent-surface: #f3f8ffcc;
    --accent-indicator: #2a3b8f;
    --accent-track: #2a3b8f;

    --neutral-1: #fffcfa;
    --neutral-2: #fdf8f5;
    --neutral-3: #f6efe9;
    --neutral-4: #f2e6de;
    --neutral-5: #ecded6;
    --neutral-6: #e7d6ca;
    --neutral-7: #dfcabc;
    --neutral-8: #d0b5a3;
    --neutral-9: #a58570;
    --neutral-10: #987b67;
    --neutral-11: #745d4e;
    --neutral-12: #2e1b0d;
    --neutral-a1: #ff660005;
    --neutral-a2: #cc4d000a;
    --neutral-a3: #97460016;
    --neutral-a4: #9b3e0021;
    --neutral-a5: #89320029;
    --neutral-a6: #8c3a0035;
    --neutral-a7: #86360043;
    --neutral-a8: #7d32005c;
    --neutral-a9: #5f26008f;
    --neutral-a10: #53220098;
    --neutral-a11: #371600b1;
    --neutral-a12: #230f00f2;
    --neutral-contrast: #ffffff;
    --neutral-surface: #ffffffcc;
    --neutral-indicator: #a58570;
    --neutral-track: #a58570;

    --success-1: #fcfefb;
    --success-2: #f7faf5;
    --success-3: #eef5e8;
    --success-4: #e2eed9;
    --success-5: #d5e5c7;
    --success-6: #c3d9b0;
    --success-7: #acc893;
    --success-8: #8db168;
    --success-9: #698f3f;
    --success-10: #5f8139;
    --success-11: #55772f;
    --success-12: #2d3921;
    --success-a1: #40c00004;
    --success-a2: #3380000a;
    --success-a3: #43910017;
    --success-a4: #3d8d0026;
    --success-a5: #40890038;
    --success-a6: #3e85004f;
    --success-a7: #3c7e006c;
    --success-a8: #3f7c0097;
    --success-a9: #386a00c0;
    --success-a10: #315d00c6;
    --success-a11: #2f5800d0;
    --success-a12: #0e1c00de;
    --success-contrast: #fff;
    --success-surface: #f5f9f3cc;
    --success-indicator: #698f3f;
    --success-track: #698f3f;

    --danger-1: #fffcfb;
    --danger-2: #fff8f6;
    --danger-3: #ffeae5;
    --danger-4: #ffd9d0;
    --danger-5: #ffc9be;
    --danger-6: #ffb8aa;
    --danger-7: #ffa292;
    --danger-8: #f98573;
    --danger-9: #ff331f;
    --danger-10: #f11902;
    --danger-11: #e00000;
    --danger-12: #641e15;
    --danger-a1: #ff400004;
    --danger-a2: #ff390009;
    --danger-a3: #ff32001a;
    --danger-a4: #ff31002f;
    --danger-a5: #ff2c0041;
    --danger-a6: #ff2a0055;
    --danger-a7: #ff26006d;
    --danger-a8: #f421008c;
    --danger-a9: #ff1700e0;
    --danger-a10: #f11700fd;
    --danger-a11: #e00000;
    --danger-a12: #560a00ea;
    --danger-contrast: #fff;
    --danger-surface: #fff6f4cc;
    --danger-indicator: #ff331f;
    --danger-track: #ff331f;

    --warning-1: #fefdfb;
    --warning-2: #fff8ed;
    --warning-3: #ffeed0;
    --warning-4: #ffe1b2;
    --warning-5: #ffd498;
    --warning-6: #ffc887;
    --warning-7: #f1b676;
    --warning-8: #e39f50;
    --warning-9: #ffa630;
    --warning-10: #f29c28;
    --warning-11: #b16500;
    --warning-12: #4d351b;
    --warning-a1: #c0800004;
    --warning-a2: #ff9c0012;
    --warning-a3: #ffa3002f;
    --warning-a4: #ff9c004d;
    --warning-a5: #ff950067;
    --warning-a6: #ff8b0078;
    --warning-a7: #e5780089;
    --warning-a8: #d67300af;
    --warning-a9: #ff9100cf;
    --warning-a10: #f08a00d7;
    --warning-a11: #b16500;
    --warning-a12: #381d00e4;
    --warning-contrast: #2e1e0b;
    --warning-surface: #fff6e9cc;
    --warning-indicator: #ffa630;
    --warning-track: #ffa630;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root {
        --accent-1: oklch(99.3% 0.0047 270);
        --accent-2: oklch(98.1% 0.0137 270);
        --accent-3: oklch(96% 0.0283 270);
        --accent-4: oklch(93.7% 0.0531 270);
        --accent-5: oklch(90.6% 0.0768 270);
        --accent-6: oklch(86.4% 0.0987 270);
        --accent-7: oklch(80.9% 0.1272 270);
        --accent-8: oklch(73.5% 0.1741 270);
        --accent-9: oklch(39.1% 0.14 270);
        --accent-10: oklch(45.2% 0.14 270);
        --accent-11: oklch(55.6% 0.1741 270);
        --accent-12: oklch(32.4% 0.14 270);
        --accent-a1: color(display-p3 0.0235 0.5137 1 / 0.016);
        --accent-a2: color(display-p3 0.0235 0.349 0.8941 / 0.036);
        --accent-a3: color(display-p3 0.0078 0.3059 0.9529 / 0.079);
        --accent-a4: color(display-p3 0.0078 0.3176 0.9412 / 0.126);
        --accent-a5: color(display-p3 0.0039 0.2706 0.9373 / 0.177);
        --accent-a6: color(display-p3 0.0039 0.2431 0.9373 / 0.248);
        --accent-a7: color(display-p3 0.0039 0.2314 0.9451 / 0.342);
        --accent-a8: color(display-p3 0.0039 0.2039 0.9412 / 0.463);
        --accent-a9: color(display-p3 0 0.0627 0.4392 / 0.82);
        --accent-a10: color(display-p3 0 0.0784 0.502 / 0.761);
        --accent-a11: color(display-p3 0 0.1176 0.7294 / 0.679);
        --accent-a12: color(display-p3 0 0.0431 0.3882 / 0.887);
        --accent-contrast: #fff;
        --accent-surface: color(display-p3 0.9569 0.9686 1 / 0.8);
        --accent-indicator: oklch(39.1% 0.14 270);
        --accent-track: oklch(39.1% 0.14 270);

        --neutral-1: oklch(99.4% 0.0054 55.56);
        --neutral-2: oklch(98.2% 0.0072 55.56);
        --neutral-3: oklch(95.6% 0.011 55.56);
        --neutral-4: oklch(93.2% 0.0164 55.56);
        --neutral-5: oklch(91% 0.0186 55.56);
        --neutral-6: oklch(88.6% 0.0241 55.56);
        --neutral-7: oklch(85.3% 0.0301 55.56);
        --neutral-8: oklch(79.2% 0.0403 55.56);
        --neutral-9: oklch(64.1% 0.0498 55.56);
        --neutral-10: oklch(60.6% 0.0465 55.56);
        --neutral-11: oklch(49.8% 0.0382 55.56);
        --neutral-12: oklch(24.3% 0.0385 55.56);
        --neutral-a1: color(display-p3 0.8039 0.4118 0.0196 / 0.02);
        --neutral-a2: color(display-p3 0.7098 0.3176 0.0235 / 0.04);
        --neutral-a3: color(display-p3 0.5294 0.2471 0.0078 / 0.083);
        --neutral-a4: color(display-p3 0.5333 0.2235 0.0078 / 0.126);
        --neutral-a5: color(display-p3 0.4784 0.1765 0.0039 / 0.157);
        --neutral-a6: color(display-p3 0.4824 0.2314 0.0039 / 0.204);
        --neutral-a7: color(display-p3 0.4471 0.2039 0.0039 / 0.255);
        --neutral-a8: color(display-p3 0.4353 0.1922 0.0039 / 0.353);
        --neutral-a9: color(display-p3 0.3216 0.1373 0 / 0.55);
        --neutral-a10: color(display-p3 0.2745 0.1216 0 / 0.585);
        --neutral-a11: color(display-p3 0.1843 0.0824 0 / 0.687);
        --neutral-a12: color(display-p3 0.1176 0.0549 0 / 0.942);
        --neutral-contrast: #ffffff;
        --neutral-surface: color(display-p3 1 1 1 / 80%);
        --neutral-indicator: oklch(64.1% 0.0498 55.56);
        --neutral-track: oklch(64.1% 0.0498 55.56);

        --success-1: oklch(99.4% 0.0044 130.4);
        --success-2: oklch(98.2% 0.0076 130.4);
        --success-3: oklch(96.1% 0.0192 130.4);
        --success-4: oklch(93.4% 0.0306 130.4);
        --success-5: oklch(90.1% 0.0438 130.4);
        --success-6: oklch(85.8% 0.0591 130.4);
        --success-7: oklch(79.8% 0.0787 130.4);
        --success-8: oklch(71.6% 0.1077 130.4);
        --success-9: oklch(60.3% 0.1172 130.4);
        --success-10: oklch(56.1% 0.1073 130.4);
        --success-11: oklch(52.7% 0.1073 130.4);
        --success-12: oklch(32.7% 0.0443 130.4);
        --success-a1: color(display-p3 0.2667 0.7569 0.0235 / 0.016);
        --success-a2: color(display-p3 0.3176 0.5137 0.0235 / 0.04);
        --success-a3: color(display-p3 0.2824 0.5529 0.0118 / 0.087);
        --success-a4: color(display-p3 0.2549 0.5333 0.0078 / 0.142);
        --success-a5: color(display-p3 0.2667 0.4941 0.0039 / 0.208);
        --success-a6: color(display-p3 0.2588 0.4824 0.0039 / 0.295);
        --success-a7: color(display-p3 0.2431 0.4588 0.0039 / 0.404);
        --success-a8: color(display-p3 0.2549 0.4471 0 / 0.561);
        --success-a9: color(display-p3 0.2157 0.3765 0 / 0.71);
        --success-a10: color(display-p3 0.1922 0.3294 0 / 0.742);
        --success-a11: color(display-p3 0.1765 0.3098 0 / 0.777);
        --success-a12: color(display-p3 0.051 0.098 0 / 0.859);
        --success-contrast: #fff;
        --success-surface: color(display-p3 0.9647 0.9765 0.9529 / 0.8);
        --success-indicator: oklch(60.3% 0.1172 130.4);
        --success-track: oklch(60.3% 0.1172 130.4);

        --danger-1: oklch(99.4% 0.0038 30.2);
        --danger-2: oklch(98.4% 0.009 30.2);
        --danger-3: oklch(95.5% 0.0269 30.2);
        --danger-4: oklch(92.6% 0.058 30.2);
        --danger-5: oklch(89.3% 0.077 30.2);
        --danger-6: oklch(85.3% 0.0944 30.2);
        --danger-7: oklch(80.3% 0.1153 30.2);
        --danger-8: oklch(74.2% 0.1448 30.2);
        --danger-9: oklch(64.7% 0.239 30.2);
        --danger-10: oklch(60.7% 0.241 30.2);
        --danger-11: oklch(56.5% 0.239 30.2);
        --danger-12: oklch(34.5% 0.1031 30.2);
        --danger-a1: color(display-p3 0.7569 0.2667 0.0235 / 0.016);
        --danger-a2: color(display-p3 0.8941 0.2392 0.0235 / 0.036);
        --danger-a3: color(display-p3 0.8431 0.2078 0.0118 / 0.099);
        --danger-a4: color(display-p3 0.8706 0.1804 0.0039 / 0.177);
        --danger-a5: color(display-p3 0.8745 0.1804 0.0039 / 0.248);
        --danger-a6: color(display-p3 0.8667 0.1725 0.0039 / 0.322);
        --danger-a7: color(display-p3 0.8784 0.1529 0.0039 / 0.412);
        --danger-a8: color(display-p3 0.8471 0.1412 0 / 0.53);
        --danger-a9: color(display-p3 0.902 0.1059 0 / 0.804);
        --danger-a10: color(display-p3 0.8471 0.0941 0 / 0.867);
        --danger-a11: color(display-p3 0.7765 0.0627 0 / 0.883);
        --danger-a12: color(display-p3 0.2902 0.0431 0 / 0.902);
        --danger-contrast: #fff;
        --danger-surface: color(display-p3 0.9961 0.9647 0.9569 / 0.8);
        --danger-indicator: oklch(64.7% 0.239 30.2);
        --danger-track: oklch(64.7% 0.239 30.2);

        --warning-1: oklch(99.3% 0.0023 67.93);
        --warning-2: oklch(98.3% 0.0183 67.93);
        --warning-3: oklch(96.4% 0.0503 67.93);
        --warning-4: oklch(93.5% 0.0855 67.93);
        --warning-5: oklch(90.7% 0.1098 67.93);
        --warning-6: oklch(87.1% 0.1056 67.93);
        --warning-7: oklch(81.8% 0.1062 67.93);
        --warning-8: oklch(75.3% 0.1244 67.93);
        --warning-9: oklch(79.6% 0.1605 67.93);
        --warning-10: oklch(76.2% 0.1563 67.93);
        --warning-11: oklch(57.9% 0.1465 67.93);
        --warning-12: oklch(35.1% 0.0522 67.93);
        --warning-a1: color(display-p3 0.7569 0.5137 0.0235 / 0.016);
        --warning-a2: color(display-p3 0.9451 0.5922 0.0078 / 0.067);
        --warning-a3: color(display-p3 0.9333 0.6392 0.0039 / 0.173);
        --warning-a4: color(display-p3 0.9333 0.5961 0.0039 / 0.279);
        --warning-a5: color(display-p3 0.9294 0.5725 0.0039 / 0.373);
        --warning-a6: color(display-p3 0.9216 0.5255 0.0039 / 0.436);
        --warning-a7: color(display-p3 0.8235 0.4471 0 / 0.502);
        --warning-a8: color(display-p3 0.7647 0.4235 0 / 0.632);
        --warning-a9: color(display-p3 0.9294 0.5255 0 / 0.702);
        --warning-a10: color(display-p3 0.8667 0.4941 0 / 0.734);
        --warning-a11: color(display-p3 0.6 0.3176 0 / 0.863);
        --warning-a12: color(display-p3 0.1882 0.102 0 / 0.879);
        --warning-contrast: #2e1e0b;
        --warning-surface: color(display-p3 1 0.9686 0.9176 / 0.8);
        --warning-indicator: oklch(79.6% 0.1605 67.93);
        --warning-track: oklch(79.6% 0.1605 67.93);
      }
    }
  }

  :root {
    --font-serif: Young Serif, Lora, Georgia, serif;
    --font-body: Lora, Georgia, serif;
    --font-script: Caveat Variable, Caveat, cursive;
    --font-mono: DM Mono, ui-monospace, monospace;

    --size-1: 0.79rem;
    --size-2: 0.889rem;
    --size-3: 1rem;
    --size-4: 1.125rem;
    --size-5: 1.25rem;
    --size-6: 1.563rem;
    --size-7: 1.953rem;
    --size-8: 2.441rem;

    --leading-tight: 1.1;
    --leading-snug: 1.25;
    --leading-normal: 1.4;
    --leading-loose: 1.6;
    --leading-prose: 1.7;

    --tracking-tight: -0.02em;
    --tracking-snug: -0.01em;
    --tracking-none: 0;

    --weight-regular: 400;
    --weight-medium: 500;
  }
}
