// notebook-layout/styles/atoms/_ornament.scss

@use './lozenge' as *;

.section-mark {
  color: var(--app-fg-accent);
  display: inline-block;
  inline-size: var(--app-marker-column);

  &::before {
    @include lozenge(0.5em);

    display: inline-block;
    vertical-align: 0.08em;
  }
}
