// notebook-layout/components/section/section.scss

.section {
  .section {
    > .section-title {
      border-block-end: 0;
      font: var(--app-text-title-sm);
      margin-block: var(--app-rhythm-half);
      padding-block-end: 0;
    }

    .section > .section-title {
      font: var(--app-text-title-sm);
    }
  }
}
