@use '../../styles/component' as component;

@use '../../styles/helpers/media.scss' as *;
@use '../../styles/utils.scss' as *;

.tabs-layout {
  &__mobile {
    @extend .portrait-only;
  }

  &__desktop {
    @extend .landscape-only;
  }

  &__content {
    width: 100%;
  }

  &__section {
    display: grid;
  }

  @media (orientation: portrait) {
    &__content {
      padding-left: var(--app-pad-surface);
      padding-right: var(--app-pad-surface);
    }
  }

  @media (orientation: landscape) {
    &__content {
      color: component.$tabs-layout-content-fg;
      height: 100%;
      padding-block-start: var(--app-rhythm-half);
      position: relative;
    }

    &__section[data-tabs-layout-active='false'] {
      display: none;
    }
  }
}
