@use '../../styles/utils/theme' as *;
@use '../../styles/helpers/media.scss' as *;
@use '../../styles/utils.scss' as *;

.tabs-layout__mobile {
  @extend .portrait-only;
}

.tabs-layout__desktop {
  @extend .landscape-only;
}

.tabs-layout__content {
  width: 100%;
}

.tabs-layout__section {
  display: grid;
}

@media (orientation: landscape) {
  .tabs-layout__content {
    @include theme-base;
    // box-shadow: var(--shadow-primary);
    height: 100%;
    position: relative;

    &::before {
      // it hides tabs shadow
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 4px;
      background-color: inherit;
    }
  }

  .tabs-layout__section[data-tabs-layout-active='false'] {
    display: none;
  }
}
