@use './coreui-config' as cfg;
@use './component';
@use '@coreui/coreui/scss/variables' with (
  $primary: cfg.$primary,
  $secondary: cfg.$secondary,
  $success: cfg.$success,
  $info: cfg.$info,
  $warning: cfg.$warning,
  $danger: cfg.$danger,
  $light: cfg.$light,
  $dark: cfg.$dark,

  $body-bg: cfg.$body-bg,
  $body-color: cfg.$body-color,
  $body-secondary-color: cfg.$body-secondary-color,

  $link-color: cfg.$link-color,
  $link-hover-color: cfg.$link-hover-color,

  $border-color: cfg.$border-color,
  $border-width: 1px,

  $border-radius: 4px,
  $border-radius-sm: 2px,
  $border-radius-lg: 10px,
  $border-radius-pill: 9999px,

  $headings-margin-bottom: var(--app-space-sm),
  $headings-font-family: var(--app-font-family-heading),
  $headings-font-weight: var(--app-font-weight-body),
  $headings-line-height: 1.25,
  $hr-opacity: 1,

  $badge-font-weight: var(--app-font-weight-body),
  $btn-font-weight: var(--app-font-weight-body),
  $enable-gradients: false,
  $enable-shadows: false,

  $enable-cssgrid: true,

  $mobile-breakpoint: sm,

  $sidebar-toggler-padding-x: 12px,
  $sidebar-toggler-padding-y: 12px,

  // $card-spacer-y: $spacer;
  // $card-spacer-x: $spacer;
  // $card-title-spacer-y: $spacer * 0.5;
  // $card-title-color: null;
  // $card-subtitle-color: null;
  // $card-border-width: var(--#{$prefix}border-width);
  $card-border-color: component.$card-content-border-color,
  // $card-border-radius: var(--#{$prefix}border-radius);
  // $card-box-shadow: null;
  // $card-inner-border-radius: subtract($card-border-radius, $card-border-width);
  // $card-cap-padding-y: $card-spacer-y * 0.5;
  // $card-cap-padding-x: $card-spacer-x;
  // $card-cap-bg: rgba(var(--#{$prefix}body-color-rgb), 0.03);
  // $card-cap-color: null;
  // $card-height: null;
  // $card-color: null;
  // $card-bg: var(--#{$prefix}body-bg);
  // $card-img-overlay-padding: $spacer;
   // $card-group-margin: $grid-gutter-width * 0.5;
);

@use '@coreui/coreui/scss/variables-dark';
@use '@coreui/coreui/scss/root';
@use '@coreui/coreui/scss/containers';
@use '@coreui/coreui/scss/grid' with (
  $include-column-box-sizing: true
);
@use '@coreui/coreui/scss/helpers';
@use '@coreui/coreui/scss/utilities/api';

@import '@coreui/coreui/scss/functions.import';
@import '@coreui/coreui/scss/variables.import';
@import '@coreui/coreui/scss/variables-dark.import';
@import '@coreui/coreui/scss/maps.import';
@import '@coreui/coreui/scss/mixins.import';
@import '@coreui/coreui/scss/breadcrumb.import';
@import '@coreui/coreui/scss/nav.import';
@import '@coreui/coreui/scss/buttons.import';

@import '@coreui/coreui/scss/accordion.import';

@import '@coreui/coreui/scss/images.import';

@import '@coreui/coreui/scss/sidebar.import';

@import '@coreui/coreui/scss/badge.import';
@import '@coreui/coreui/scss/card.import';
