.label {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  small {
    display: block;
    width: 100%;
  }
}

.fieldset {
  legend {
    font-weight: bold;
  }

  > p {
    margin-bottom: 8px;
  }
}
