.label {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  small {
    display: block;
    width: 100%;
  }
}

.fieldset {
  border: var(--app-field-border);
  border-radius: var(--app-field-border-radius);
  padding: 0 var(--app-pad-surface) 16px;

  > legend {
    font-weight: bold;
    padding: 8px;
    font-size: var(--app-font-size);
  }

  > label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--app-font-size);
    min-height: var(--app-size-control);
  }

  > p {
    margin-bottom: 8px;
  }
}
