@import 'the-new-css-reset/css/reset.css';

:root {
  background-color: var(--app-bg-page);
  color: var(--app-fg-default);
}

body {
  font: var(--app-text-body);
}

.d-none {
  display: none;
}

html {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

th,
td {
  border: 0;
}

img {
  width: 100%;
}

small {
  font-size: 0.85em;
}

details {
  all: revert;

  summary {
    all: revert;
  }
}

@media (orientation: landscape) {
  *:focus-visible {
    outline: revert;
  }
}
