@import 'the-new-css-reset/css/reset.css';

body {
  color: var(--app-fg-default);
  font-family: var(--app-font-family-body);
  font-size: var(--app-font-size);
  font-weight: 200;
}

.d-none {
  display: none;
}

html {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

th,
td {
  border: 0;
}

img {
  width: 100%;
}

small {
  font-size: 0.75em;
}

details {
  all: revert;

  summary {
    all: revert;
  }
}

@media (orientation: landscape) {
  *:focus-visible {
    outline: revert;
  }
}
