@use './utils.scss';

.h1 {
  font-family: var(--font-family-title);
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 1px;
}

.h2 {
  font-family: var(--font-family-title);
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: normal;
}

.h3 {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: var(--font-family-title);
  font-weight: bold;
  color: var(--color-primary-darker);
}

.h4 {
  font-weight: bold;
}

.section-title {
  @extend .h2;

  background-color: var(--color-primary-lighter);
  border-radius: var(--border-radius-secondary);
  color: white;
  font-size: 17px;
  mix-blend-mode: multiply;
  padding: 7px 14px;
  text-align: center;
  width: 100%;

  @include utils.isDesktop {
    width: auto;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 16px;
    max-width: min-content;
  }
}

.link {
  text-decoration: underline;
}
