@mixin isMobile {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

@mixin isDesktop {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin isNotDisable {
  &:not(:disabled, [aria-disable='true']) {
    @content;
  }
}

@mixin hover {
  @include isNotDisable {
    &:active {
      @content;
    }

    @include isDesktop {
      &:hover,
      &:focus-visible {
        @content;
      }
    }
  }
}
