@use './utils/variables' as *;

:root {
  @include variables;
}

.variables-small {
  // typography
  --font-size: 0.875rem;
  --h2-font-size: 1.25rem;

  // sizing
  --gap: 6px;
  --bs-gap: var(--gap);
  --padding-x: 6px;
  --padding-y: 6px;
  --padding: var(--padding-y) var(--padding-x);

  // button
  --button-font-size: var(--action-small-font-size);
  --button-size: var(--action-small-size);
  --button-border-width: var(--border-width);
  --button-padding-y: 1px;
  --button-padding-x: 14px;

  // field
  --field-padding: 3px;
  --field-font-size: 1.125rem;
  --field-line-height: 1.75rem;
  --field__label-font-size: 13px;
  --field__label-padding: 3px 16px 2px;
  --field-line-color: var(--color-primary-lighter);
  --field-line-step: var(--field-line-height);
  --field-line-offset-x: 3px;
  --field-line-offset-adjust: 3px;
  --field-line-offset: calc(26px - var(--field-line-offset-adjust));
  --field-line-thickness: 1px;
  --field-line-dash-length: 6px;
  --field-line-dash-gap: 6px;
  --field-box-padding-top: calc(var(--field-padding) + 2px);

  // category
  --category-width: 86px;
  --category-font-size: 0.75rem;

  font-size: clamp(14px, 3.6vw, 14px);

  @media screen and (min-width: 360px) {
    --gap: 8px;
    --bs-gap: var(--gap);
    --padding-x: 8px;
    --padding-y: 8px;
    --padding: var(--padding-y) var(--padding-x);
  }

  @media (orientation: landscape) {
    --gap: 12px;
    --bs-gap: var(--gap);
    --padding-x: 12px;
    --padding: var(--padding-y) var(--padding-x);
  }
}
