:root {
  /* 🎨 Base Colors */
  --color-white: #ffffff;
  --color-white-weak: #ffffff88;

  --color-light-light: #f8f8f8;
  --color-light-main: #f2f2f2;
  --color-light-dark: #ededed;
  --color-light-strong: #edededcf;
  --color-light-weak: #ededed88;

  --color-dark-lighter: #383838;
  --color-dark-main: #191919;
  --color-dark-darker: #090909;
  --color-dark-strong: #191919e8;
  --color-dark-medium: #191919b8;
  --color-dark-weak: #19191988;

  /* 🌿 Brand Colors */
  --color-primary-lighter: #947368;
  --color-primary-main: #87695e;
  --color-primary-darker: #6e564d;
  --color-primary-strong: #6e564de8;
  --color-primary-medium: #6e564db8;
  --color-primary-weak: #6e564d88;

  --color-secondary-light: #a9b9d4;
  --color-secondary-main: #5e6d87;
  --color-secondary-dark: #232c3b;
  --color-secondary-strong: #232c3be8;
  --color-secondary-medium: #232c3bb8;
  --color-secondary-weak: #232c3b88;

  /* 🔤 Typography */
  --font-family-title: 'Cinzel', serif;
  --font-family-body: 'Dosis', sans-serif;
  --font-family-input: 'Vibur', cursive;

  /* 🧱 Border */
  --border-radius-default: 1px;
  --border-radius-primary: 7px;
  --border-radius-secondary: 3px;
  --border-width: 3px;
  --border-secondary: 2px;
  --border-primary: 2px dashed var(--color-primary-lighter);

  /* 🌫️ Shadow */
  --shadow-primary: 0 2px 4px -1px rgb(0 0 0 / 20%),
    0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  --shadow-primary-inset: inset 0 0 3px 0 rgb(0 0 0 / 20%);

  /* 🧩 Components */
  --action-font-size: 1rem;
  --action-small-font-size: 0.75rem;
  --action-size: 44px;
  --action-small-size: 36px;
  --bar-size: var(--action-size);
  --icon-size: 1.75rem;

  @media (orientation: landscape) {
    --bar-size: 60px;
  }

  @media (pointer: fine) {
    --action-size: 36px;
    --action-small-size: 28px;
    --action-font-size: 0.875rem;
    --action-small-font-size: 0.75rem;
  }

  /* button */
  --button-size: var(--action-size);
  --button-font-size: var(--action-font-size);
}
