@use '../../styles/typography';

.section-card {
  border-radius: var(--card-border-radius, --border-radius-default);
  overflow: hidden;
  box-shadow: var(--shadow-primary);

  &__title {
    @extend .h2;

    background-color: var(--section-card-title-bg, --color-primary-main);
    color: var(--section-card-title-color, white);
    padding: 0 var(--padding-x);
    margin: 0;
    font-size: 17px;
    display: block;

    > * {
      padding: var(--padding-y) 0;
      border: var(--section-card-title-border, none);
    }
  }

  &__body {
    padding: var(--padding-x);
    background-color: var(--section-card-body-bg, --color-white);
  }
}
